<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/cssPortafolio.css' %}" />
  </head>

  <body>
    <nav class="topnav">
      <a class="home-nav" href="{% url 'indexCar' %}">(LOGO)</a>
      {% if request.user.is_authenticated %}
        <a class="bar-nav" href="{% url 'exit' %}">Cerrar Sesión</a>
      {% else %}
        <a class="bar-nav" href="{% url 'login' %}">Inicio de sesión</a>
      {% endif %}
      <a class="bar-nav" href="{% url 'cotizador' %}">Cotizador</a>
      <a class="bar-nav" href="#">Contacto</a>
    </nav>
    <h1 style="text-align: center">Nuestro Catálogo</h1>

    <section style="background-color: white;">
      <div class="row">
        
        {% for vehículos in vehículos %}
        {% load static %}
        <div class="column">
          <div class="content">
            <img id="carImage1" src="{% static 'image/auto1.png' %}" style="width: 100%" />
            <h4>Acura</h4>
            <p><b>Precio:</b> <span id="carPrice1">440,000</span></p>
            <p><b>Año:</b> <span id="carYear1">2022</span></p>
            <button class="btn" onclick="redirectToPage(1)">Adquirir</button>
          </div>
        </div>
        <!-- Repite el bloque para otros autos cambiando el ID -->
        <div class="column">
          <div class="content">
            <img id="carImage2" src="{% static 'image/auto2.png' %}" style="width: 100%" />
            <h4>Acura</h4>
            <p><b>Precio:</b> <span id="carPrice2">410,000</span></p>
            <p><b>Año:</b> <span id="carYear2">2022</span></p>
            <button class="btn" onclick="redirectToPage(2)">Adquirir</button>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <img id="carImage3" src="image/auto3.png" style="width: 100%" />
            <h4>Acura</h4>
            <p><b>Precio:</b> <span id="carPrice3">320,000</span></p>
            <p><b>Año:</b> <span id="carYear3">2021</span></p>
            <button class="btn" onclick="redirectToPage(3)">Adquirir</button>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <img id="carImage4" src="image/auto1.png" style="width: 100%" />
            <h4>Acura</h4>
            <p><b>Precio:</b> <span id="carPrice4">250,000</span></p>
            <p><b>Año:</b> <span id="carYear4">2022</span></p>
            <button class="btn" onclick="redirectToPage(4)">Adquirir</button>
          </div>
        </div>
        <br>
        <div class="column">
          <div class="content">
            <img id="carImage5" src="image/auto2.png" style="width: 100%" />
            <h4>Acura</h4>
            <p><b>Precio:</b> <span id="carPrice5">340,000</span></p>
            <p><b>Año:</b> <span id="carYear5">2023</span></p>
            <button class="btn" onclick="redirectToPage(5)">Adquirir</button>
          </div>
        </div><div class="column">
          <div class="content">
            <img id="carImage6" src="image/auto3.png" style="width: 100%" />
            <h4>Acura</h4>
            <p><b>Precio:</b> <span id="carPrice6">890,000</span></p>
            <p><b>Año:</b> <span id="carYear6">2024</span></p>
            <button class="btn" onclick="redirectToPage(6)">Adquirir</button>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
    <footer class="footer" id="footer">
      <h2>CONTACTANOS:</h2>
  
      <div class="container-contactanos">
        <div class="container-contactanos-left">
          <h2>Correo Electrónico:</h2>
          <p>
            <a style="color: white" href="http://gmail.com">driverXperence@gmail.com</a>
          </p>
        </div>
        <div class="container-contactanos-midle">
          <h2>Nuestras Redes Sociales:</h2>
          <img style="width: 130px; padding-left: 50px" src="image/icon-redes.jpg " alt="" />
        </div>
        <div class="container-contactanos-right">
          <h2>Teléfonos:</h2>
          <p>(477) 333-3333</p>
          <p>(477) 333-3333</p>
          <p>(477) 333-3333</p>
        </div>
      </div>
  
      <hr />
      <h2>Derechos Reservados</h2>
      <p>
        El contenido de este sitio web está protegido por las leyes de derechos
        de autor. Queda prohibida su reproducción sin autorización previa.
        DriveXperience se reserva el derecho de modificar la información en
        cualquier momento. Para más detalles, contáctenos.
      </p>
    </footer>






    <section>
      <div class="row">
        <!-- {% for vehículos in vehículos %}
        <div class="column">
          <div class="content">
            <img id="carImage{{ vehículos.id }}" src="{{ vehículos.fotoLateral }}" style="width: 100%" alt="{{ vehículos.id }}" />
            <h4>{{ vehículos.marca }}</h4>
            <h4>{{ vehículos.fotoLateral }}</h4>
            <p><b>Precio:</b> <span id="carPrice{{vehículos.id}}">{{ vehículos.precioLista }}</span></p>
            <p><b>Año:</b> {{ vehículos.año }}</p>
            <button class="btn" onclick="redirectToPage({{ vehículos.id }})">Adquirir</button>
          </div>
        </div>
        {% endfor %} -->
    </section>

    <script>
      function redirectToPage(carId) {
        function redirectToPage(carIndex) {
        const imageSrc = document.getElementById(`carImage${carIndex}`).src;
        const price = document.getElementById(`carPrice${carIndex}`).innerText;
        //const year = document.getElementById(`carYear${carIndex}`).innerText;

        // Almacena la información en localStorage
        localStorage.setItem("carImage", imageSrc);
        localStorage.setItem("carPrice", price);
        //localStorage.setItem("carYear", year);

        // Abre la nueva pestaña
        window.open("Cotizador.html", "_blank");
      }
      }
    </script>
  </body>
</html>
