<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catalogo</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/cssPortafolio.css' %}" />
  </head>

  <body>
    <nav class="topnav">
      <a class="home-nav" href="{% url 'indexCar' %}">(LOGO)</a>
      <a class="bar-nav" href="{% url 'login' %}">Inicio de sesión</a>
      <a class="bar-nav" href="{% url 'cotizador' %}">Cotizador</a>
      <a class="bar-nav" href="#">Contacto</a>
    </nav>
    <h1 style="text-align: center">Nuestro Catálogo</h1>
    <section>
      <div class="row">
        {% for vehículos in vehículos %}
        <div class="column">
          <div class="content">
            <img id="carImage{{ vehículos.id }}" src="{% static 'image/acura.png' %}" style="width: 100%" alt="{{ vehículos.id }}" />
            <h4>{{ vehículos.marca }}</h4>
            <h4>{{ vehículos.modelo }}</h4>
            <p><b>Precio:</b> <span id="carPrice{{vehículos.id}}">{{ vehículos.precioLista }}</span></p>
            <p><b>Año:</b> {{ vehículos.año }}</p>
            <button class="btn" onclick="redirectToPage({{ vehículos.id }})">Adquirir</button>
          </div>
        </div>
        {% endfor %}
    </section>

    <script>
      function redirectToPage(carId) {
        const imageSrc = document.getElementById(`carImage${carId}`).src;
        const price = document.getElementById(`carPrice${carId}`).innerText;
        //const year = document.getElementById(`carYear${carId}`).innerText;

        // Almacena la información en localStorage
        localStorage.setItem("carImage", imageSrc);
        localStorage.setItem("carPrice", price);
        //localStorage.setItem("carYear", year);

        // Abre la nueva pestaña
        window.open("{% url 'cotizador' %}?carId=" + carId, "_blank");
      }
    </script>
  </body>
</html>
