<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DriveXperience</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="script" type="text/js" href="{% static 'js/slide.js' %}" />
  </head>
  <body class="body">
    <nav class="topnav">
      <a class="home-nav" href="{% url 'indexCar' %}">(LOGO)</a>
      <a class="bar-nav" href="{% url 'login' %}">Inicio de sesión</a>
      <a class="bar-nav" href="{% url 'catalogo' %}">Catalogo</a>
      <a class="bar-nav" href="#">Contacto</a>
    </nav>
    <section>
      <div class="main-image">
        <div class="main-image-text">
          <p>Bienvenido</p>
          <h1 style="font-size: 50px">DriveXperience</h1>
          <p>Agencia de autos</p>
          <button>Catalogo</button>
        </div>
      </div>
      <div class="slideshow-container">
        {% load static %}
        <div class="mySlides fade">
          <img src="{% static 'image/cam-azul.png' %}" style="width: 100%" />
          <div class="text">AUTO 1</div>
        </div>

        <div class="mySlides fade">
          <img src="{% static 'image/acura.png' %}" style="width: 100%" />
          <div class="text">AUTO 2</div>
        </div>

        <div class="mySlides fade">
          <img src="{% static 'image/camioneta.png' %}" style="width: 100%" />
          <div class="text">AUTO 3</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
      </div>
      <br />

      <div style="text-align: center">
        <span class="indicators" onclick="currentSlide(1)"></span>
        <span class="indicators" onclick="currentSlide(2)"></span>
        <span class="indicators" onclick="currentSlide(3)"></span>
      </div>
    </section>

    <footer class="footer">
      <p class="c">CONTACTANOS</p>
      <p>
        Correo Electronico:
        <a href="http://gmail.com">driverXperence@gmail.com</a>
      </p>
    </footer>

    <script>
      let slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides((slideIndex += n));
      }

      function currentSlide(n) {
        showSlides((slideIndex = n));
      }

      function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
      }
    </script>
  </body>
</html>
